.wrapper {
  background: #fff7ed;
}

.nav {
  padding: 36.001px 25.819px 34.623px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  gap: 40px;
}

.navList li {
  color: #4d4d4d;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.923px; /* 143.267% */

  transition: all 0.4s linear;
}

.navList li:hover {
  color: black;
}
